body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1{
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
h2{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h5{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 530;
  font-style: normal;
  margin: auto;
  font-size: 20px; 
}
h4{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 530;
  font-style: normal;
  margin: auto;
  font-size: 25px; 
}
li{
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: auto;
  font-size: 25px; 
}

.bottom{
  padding-bottom: 80px;
}
.u-text-1 {
  background-color: #012160;
  color: #ffde00;
  text-align: center;
  margin: 0;
  padding: 20px 0; 
  width: 100%; 
}
.u-text-2 {
  background-color: #ffde00;
  color: #012160;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  width: 100%; 
}
.u-text-3 {
  background-color: white;
  color: black;
  text-align: center;
  width: 100%; 
}
.u-image-1 {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-button {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .img-button {
    width: 80%; 
  }
}

@media screen and (min-width: 769px) {
  .img-button {
    width: 20%; 
}
}

#sec-dc29 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}
#sec-dc29 .u-image-2, #sec-dc29 .u-image-3, #sec-dc29 .u-image-4 {
  width: 22% !important;
  height: auto !important;
  margin: 1em !important;
}
@media (min-width: 600px) {
  #sec-dc29 .u-image-2, #sec-dc29 .u-image-3, #sec-dc29 .u-image-4 {
      width: 20% !important;
  }
}
@media (min-width: 900px) {
  #sec-dc29 .u-image-2, #sec-dc29 .u-image-3, #sec-dc29 .u-image-4 {
      width: 15% !important;
  }
}
@media (min-width: 1200px) {
  #sec-dc29 .u-image-2, #sec-dc29 .u-image-3, #sec-dc29 .u-image-4 {
      width: 10% !important;
  }
}
@media (max-width: 768px) {
  li {
    margin-right: 20px;
  }
}
@media print {
  body, html, .flex-container {
    width: 100% !important;
    height: 100% !important;
    max-width: none !important;
    overflow: visible !important;
  }
  
  /* This will ensure that colors are printed */
  body {
    -webkit-print-color-adjust: exact;
  }
}


.content {
  flex: 1;
  padding: 10px;
  margin: 10px;
}

.text-left {
  text-align: left;
  flex: 1;
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: #012160;
  color: white;
  margin: auto;
}
.flex-container h2, .flex-container h5 {
  text-align: left;
  margin: 20px;
}

@media (min-width: 768px) {
  .flex-container {
    flex-direction: row;
    justify-content: center;
  }
}
